#containerLogo {
  margin-top: 20px;
  border: none;
  height: 10px;
  position: absolute;
  top: 1px;
  left: 0;
}

h6 {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 3px;
  position: absolute;
  background: #124555;
}
/* logo yerine container olduğu için img logo gizle, mQ900 olunca aç */
.myLogo {
  display: none;
}
