<!-- ? assets genel jS -->
<script src="../../assets/javascript/app.js"></script>
<!-- ? logo js & jquery-->
<script src="../../assets/javascript/logo/logo.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<!-- ! CDN indexte calisiyor -->
<!-- ? Bootstrap CDN
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!--? SwiperJs CDN JS 
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- ? logo js & jquery
<script src="https://code.jquery.com/jquery-3.1.1.js"></script> -->


<!--  ? yetenek swiper -->
<script src="../../assets/javascript/pLanguages/newSwiper.js"></script>